body {
  background-color: #fffed3;
  /* text-align: center; */
  font-family: Helvetica, sans-serif;
  min-width: 320px;
}

h1 {
  text-align: center;
  font-weight: 700;
}

#outer-form {
  background-color: #f8f8f8;
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

#survey-form {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

input,
.dropdown,
.selection {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-color: #e7e7e7
}

hr {
  border-top: 3px double #ececec;
  text-align: center;
}

.blah {
  display: inline-block;
}

.blah input {
  margin: auto;
}

.selection {
  margin: 0;
  padding: 2px;
  height: 40px;
  width: 40px;
  display: inherit;
  justify-content: space-around;
  /* align-items: center; */
  border: 1px solid #abc;
  border-radius: 8px;
}

.selection:hover {
  background-color: #ccc;
}

.label {
  align-self: center;
  justify-self: flex-end;
}

#comment-label {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #d0d1d3;
  border-radius: 2px;
}

.text-field {
  height: 20px;
  width: 300px;
  padding: 5px;
  margin: 6px;
  border: 1px solid #eef0f3;
  background-color: #ececec;
}

#comments {
  width: 22em;
  height: 11em;
}

#submit {
  background-color: rgb(240, 238, 207);
  border-radius: 5px;
  color: black;
  height: 44px;
  width: 102px;
  margin: 5px;
  border: 1px solid rgb(158, 158, 158);
}

#submit:active {
  background-color: rgb(147, 148, 143);
}
