body {
  background-color: #fffed3;
  /* text-align: center; */
  font-family: Helvetica, sans-serif;
  min-width: 320px;
}

h1 {
  text-align: center;
}
#outer-form {
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

#survey-form {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;

}

.label {
  align-self: center;
  justify-self: flex-end;
}

#comment-label {
  align-self: flex-start;
}

.text-field {

}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #d0d1d3;
  border-radius: 2px;
}

.text-field {
  height: 20px;
  width: 300px;
  padding: 5px;
  margin: 6px;
  border: 1px solid #eef0f3;
  background-color: #ececec;
}

#comments {
  width: 22em;
  height: 11em;
}

#submit {
  background-color: rgb(240, 238, 207);
  border-radius: 5px;
  color:black;
  height: 44px;
  width: 102px;
  margin: 5px;
  border: 1px solid rgb(158, 158, 158);
}